.card-img-top {
    width: auto;
}

.jumbotron {
    margin-bottom: 5vh;
    background-color: rgb(186, 186, 186);
}

.row {
    margin-bottom: 10vh;
    width: 100%;
}

.welcome_text {
    padding-left: 2vw;
    padding-bottom: 2vh;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

.text-break {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

@media screen and (max-width: 992px) {

    .jumbotron {
        margin-bottom: 1.5vh;
    }

    .welcome_text {
        padding-left: 2vw;
        padding-bottom: 0.8vh;
    }

    .navbar-brand {
        font-size: 1rem;
    }
}

@media screen and (max-width: 574px) {

    .jumbotron {
        margin-bottom: 1.5vh;
    }

    .welcome_text {
        padding-left: 2vw;
        padding-bottom: 0.8vh;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .display-4 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 2rem;
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar-brand {
        font-size: 1rem;
    }
}